<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>gsp@pZG9dRgqerAS26J6CoxBnAf4wwvMj9brpC</string>
	<key>founder</key>
	<string>moky@4DnqXWdTV8wuZgfqSCX9GjE2kNq7HJrUgQ</string>
	<key>owner</key>
	<string>moky@4DnqXWdTV8wuZgfqSCX9GjE2kNq7HJrUgQ</string>
	<key>CA</key>
	<dict/>
	<key>home</key>
	<string>https://dim.chat/</string>
	<key>stations</key>
	<array>
		<dict>
			<key>ID</key>
			<string>gsp-s109@rSWMVqbwTz4radJFrpfcYzQo9XibhZC7w</string>
			<key>desc</key>
			<string>SG-109</string>
			<key>host</key>
			<string>134.185.88.109</string>
			<key>port</key>
			<integer>9394</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>station@wnvnK2UoAsLfV92Lwrge9XASDSUVyB4etK</string>
			<key>host</key>
			<string>192.168.31.152</string>
			<key>port</key>
			<real>9394</real>
		</dict>
		<dict>
			<key>ID</key>
			<string>gsp-s001@x5Zh9ixt8ECr59XLye1y5WWfaX4fcoaaSC</string>
			<key>host</key>
			<string>127.0.0.1</string>
			<key>port</key>
			<integer>9394</integer>
		</dict>
	</array>
</dict>
</plist>
